[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/h-enk/doks
[submodule "themes/hugo-theme-mini"]
	path = themes/hugo-theme-mini
	url = https://github.com/nodejh/hugo-theme-mini
[submodule "themes/tale-hugo"]
	path = themes/tale-hugo
	url = https://github.com/EmielH/tale-hugo
[submodule "themes/hugo-theme-simple-blog"]
	path = themes/hugo-theme-simple-blog
	url = https://github.com/10mohi6/hugo-theme-simple-blog
